*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Jaldi, sans-serif;
}
body{
    width: 1440px;
    height: 1024px;
    max-width: fit-content;
    height: fit-content;
    margin: 0 auto;
    background-color: black;
}
.bg{
    width: 1440px;
    height: 936px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../gambar/bg_logreg.jpg);
    background-repeat: no-repeat;
    background-size: 1440px 936px;
    background-attachment: local;
    background-position: center;
}
.menu{
    width: 1440px;
    height: 88px;
    background-color: #141E46;
    display: flex;
    box-shadow: outset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.menu ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 20px;
    width: 100%;
    justify-content: right;
    align-items: center;
}
.menu ul li{
    margin: 0 20px;
    font-family: Jaldi, sans-serif;
    font-style: normal;
    font-size: 32px;
    line-height: 54px;
    font-weight: 400;
}
.logout-button{
    width: 106px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 23px;
    margin-left: 19px;
    font-family: Jaldi, sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 38px;
    font-weight: 400;
    color: white;
    background: #BE3144;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
}
.logout-button:hover{
    background: #241614;
}
.back-button{
    width: 106px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 23px;
    margin-left: 1180px;
    font-family: Jaldi, sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 38px;
    font-weight: 400;
    color: white;
    background: #BE3144;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
}
.back-button:hover{
    background: #241614;
}
.menu a{
    text-decoration: none;
    color: white;
}
.menu img{
    width: 58px;
    height: 58px;
    display: flex;
    align-items: center;
    color: white;
}
.box{
    width: 915px;
    height: 820px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.5);
}
.box h2{
    margin-top: 50px;
    margin-bottom: 20px;
    color: #000;
    text-align: center;
    font-weight: 500;
}
.box p{
    margin-left: 130px;
}
.account-info{
    width: 100%;
    height: 100%;
}
.name, .number, .country, .age, .position, .height, .weight, .pic{
    width: 70%;
    height: 80px;
    display: flex;
    align-items: center;
    margin-left: 150px;
}
.name_, .number_, .country_, .age_, .position_, .height_, .weight_, .pic_, .dot{
    font-family: Jaldi, sans-serif;
    font-size: 26px;
    font-weight: 400;
    color: #000;
}
.name_{
    margin-right: 120px;
}
.number_{
    margin-right: 13px;
}
.country_{
    margin-right: 98px;
}
.age_{
    margin-right: 142px;
}
.position_{
    margin-right: 95px;
}
.height_{
    margin-right: 114px;
}
.weight_{
    margin-right: 110px;
}
.pic_{
    margin-right: 35px;

}
.input-box{
    width: 60%;
    height: 50px;
    background: none;
}
#pic-box{
    width: 200px;
    height: 100px;
    margin-top: 80px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#pic-box input{
    width: 200px;
    height: 100px;
    background: none;
    cursor: pointer;
}
.input-box input{
    font-size: larger;
    width: 391px;
    height: 100%;
    background: white;
    border: none;
    outline: none;
    border-radius: 5px;
}
.change-pass form{
    width: 100%;
}
.input-pass{
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-pass input{
    text-align: center;
    font-size: larger;
    width: 592px;
    height: 100%;
    background: white;
    border: none;
    outline: none;
    border-radius: 5px;
}
.submit-box{
    width: 100%;
    background: none;
    display: flex;
    justify-content: space-around;
}
.submit-box button{
    text-align: center;
    font-size: larger;
    padding: 15px 30px;
    background: #BE3144;
    border: none;
    outline: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
}
.submit-box button:hover{
    background: #241614;
}
.info-label, .input-box{
    font-size: 26px;
    margin-left: 30px;
    font-weight: 400;
    color: #000;
}
.box hr{
    margin-top: 20px;
    width: 80%;
    display: flex;
    justify-content: center;
    margin-left: 80px;
    border: 3px solid #000;
}