*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Jaldi, sans-serif;
}
body{
    background-image: url(bg_logreg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.box{
    width: 915px;
    height: 572px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.5);
}
.box h2{
    margin-top: 50px;
    color: #000;
    text-align: center;
    font-weight: 500;
}
.box p{
    margin-top: 30px;
    margin-left: 130px;
}
.input-box{
    width: 100%;
    height: 50px;
    margin: 50px 0;
    background: none;
    display: flex;
    justify-content: center;
}
.input-box input{
    text-align: center;
    font-size: larger;
    width: 650px;
    height: 100%;
    background: white;
    border: none;
    outline: none;
    border-radius: 5px;
}
.submit-box{
    width: 100%;
    background: none;
    display: flex;
    justify-content: center;
}
.submit-box button{
    text-align: center;
    font-size: larger;
    padding: 15px 40px;
    background: #BE3144;
    border: none;
    outline: none;
    border-radius: 25px;
    color: white;
}