*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Jaldi, sans-serif;
}
body{
    width: 1440px;
    max-width: fit-content;
    height: fit-content;
    margin: 0 auto;
    background-color: black;
}
.menu{
    width: 1440px;
    height: 88px;
    background-color: #141E46;
    display: flex;
}
.menu ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 20px;
    width: 100%;
    justify-content: right;
    align-items: center;
}
.menu ul li{
    margin: 0 20px;
    font-family: Jaldi, sans-serif;
    font-style: normal;
    font-size: 32px;
    line-height: 54px;
    font-weight: 400;
}
.logout-button{
    width: 106px;
    height: 48px;
    display: flex;
    align-items: center;
    margin-top: 23px;
    margin-left: 19px;
    font-family: Jaldi, sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 38px;
    font-weight: 400;
    color: white;
    background: #BE3144;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
}
.logout-button:hover{
    background: #241614;
}
.menu a{
    text-decoration: none;
    color: white;
}
.menu img{
    width: 58px;
    height: 58px;
    display: flex;
    align-items: center;
    color: white;
}
.title{
    width: 1440px;
    height: 200px;
    background-image: url(../gambar/Frame1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title h1{
    font-family: Jaldi, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 108px;
    color: white;
    text-shadow: black 0px 4px 4px;
}
.main-table{
    width: 1440px;
    height: fit-content;
    background: #872341;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.player-table{
    width: 70%;
    height: 350px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: #141E46;
    box-shadow: black 0px 10px 10px;
}
.player-table table{
    width: 90%;
    border-collapse: collapse;
    margin-top: 50px;
    margin-left: 50px;
}
.main-table button{
    width: 100px;
    height: 50px;
    margin-left: 50px;
    background-color: #F05941;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.301) 10px 10px;
    border: none;
    cursor: pointer;
}
.main-table button:hover{
    background-color: #241614;
}
.main-table a{
    font-family: Jaldi, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: white;
}
.player-table img{
    background-color: #000;
    width: 375px;
    height: 262px;
    box-shadow: black 10px 10px;
}
.player-table strong{
    font-family: Jaldi, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: white;
    margin-left: 30px;
}
.player-table p{
    font-family: Jaldi, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #F05941;
    margin-left: 30px;
}
.footer{
    width: 1440px;
    height: 314px;
    background-color: #141E46;
}
.footer p{
    text-align: center;
    margin-top: 150px;
    color: white;
    font-size: 24px;
}
.social{
    width: 1440px;
}
.social img{
    margin: 20px;
}