*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Jaldi, sans-serif;
}
body{
    width: 1440px;
    height: 1032px;
    max-width: fit-content;
    height: fit-content;
    margin: 0 auto;
    background-color: black;
}
.all{
    width: 1440px;
    height: 1032px;
    max-width: fit-content;
    height: fit-content;
    margin: 0 auto;
    background-color: #0c0d1d;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menu{
    width: 1440px;
    height: 88px;
    background-color: #141E46;
    display: flex;
}
.menu ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 20px;
    width: 100%;
    justify-content: right;
    align-items: center;
}
.menu ul li{
    margin: 0 20px;
    font-family: Jaldi, sans-serif;
    font-style: normal;
    font-size: 32px;
    line-height: 54px;
    font-weight: 400;
}
.logout-button{
    width: 106px;
    height: 48px;
    display: flex;
    align-items: center;
    margin-top: 23px;
    margin-left: 19px;
    font-family: Jaldi, sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 38px;
    font-weight: 400;
    color: white;
    background: #BE3144;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
}
.menu a{
    text-decoration: none;
    color: white;
}
.menu img{
    width: 58px;
    height: 58px;
    display: flex;
    align-items: center;
    color: white;
}
.title{
    margin-top: 20px;
    margin-left: 25px;
    width: 1397px;
    height: 297px;
    background-image: url(../gambar/Frame1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title p{
    text-align: center;
    font-family: Jaldi, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 108px;
    color: #FFFFFF;
    text-shadow: black 0px 4px 4px;
}
.vids-table{
    margin-top: 60px;
    margin-left: 55px;
    margin-bottom: 30px;
    width: 1334px;
    height: 510px;
    background-image: url(../gambar/Frame2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: outset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.vids-table table{
    width: 100%;
    height: 100%;
    align-items: center;
}
.vids-table iframe{
    box-shadow: 5px 10px 10px 5px rgba(212, 211, 211, 0.492);
}
.footer{
    width: 1440px;
    height: 314px;
    background-color: #141E46;
}
.footer p{
    text-align: center;
    margin-top: 150px;
    color: white;
    font-size: 24px;
}
.social{
    width: 1440px;
}
.social img{
    margin: 20px;
}